@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

:root {
  --main-color: #56C4C5;
  --secondary-color: #FF5D50;
  --text-color: #221E1F;
  --text-color-gray: #747474;
  --btn-text-color: #FFFFFF;
  --shadow-color: #00000014;
  --line-color: #DDDDDD;
  --dot-color: #FFD153;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;
  padding: 0 139px;
  margin: 0 auto;
}

.btn {
  padding: 8px 32px;
  color: var(--btn-text-color);
  border-radius: 22px;
}

/* header section */
.header {
  position: relative;
  width: 100%;
  height: 769px;
  overflow: hidden;
}

.header::before {
  content: url(../images/ball01.svg);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: -5;

}

.header::after {
  content: url(../images/bg_home.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}

nav {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 218px;
}

nav .btn {
  background-color: var(--secondary-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.hero .content {
  flex: 1;
}

.subtitle {
  font-size: 18px;
  color: var(--main-color);
  font-weight: bold;
}

.hero h1 {
  margin-top: 8px;
  font-size: 48px;
}

.hero p {
  margin-top: 16px;
  font-size: 20px;
}

.hero div {
  flex: 1;
}

/* .hero img {
  width: 532px;
  flex: 1;
} */

/* platform section */
.platform {
  padding-top: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.platform::before {
  content: url(../images/ball01.svg);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.platform h1 {
  font-size: 32px;
  font-weight: bold;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.social {
  width: 245px;
}

.social h2 {
  margin-top: 24px;
}

.social p {
  margin-top: 24px;
  color: var(--text-color-gray);
}

.social img {
  width: 90px;
}

/* service section */
.service {
  margin-top: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.service::after {
  content: url(../images/ball02.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 70%);
  z-index: -20;
}

.service h1 {
  font-size: 32px;
}

.service .service-content {
  font-size: 20px;
  margin-top: 16px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 48px;
}

.card {
  width: 260px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px var(--shadow-color);
  background-color: var(--btn-text-color);
}

.card img {
  vertical-align: middle;
  border-radius: 12px 12px 0 0;
}

.card-content {
  padding: 16px 16px 24px 16px;
}

.card .card-color {
  margin-top: 0;
  color: var(--main-color);
}

.card p {
  margin-top: 16px;
}

/* customer section */
.customers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 137px;
  padding-top: 100px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.customers::after {
  content: url(../images/ball02.svg);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    z-index: -20;
}

.customer-cards {
  flex-basis: 507px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px 47px;
  flex-wrap: wrap;
}

.customer-card {
  width: 230px;
  padding: 32px 32px 48px 32px;
  box-shadow: 0 2px 10px var(--shadow-color);
  border-radius: 12px;
}

.customer-icon {
  width: 86px;
  height: 86px;
  background-color: var(--btn-text-color);
  box-shadow: 0 2px 10px var(--shadow-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-content {
  /* flex: 1; */
  align-self: left;
}

.customer-content h1{
  font-size: 32px;
}

.customer-content p {
  margin-top: 16px;
}

.customer-content .btn{
  background-color: var(--main-color);
  margin-top: 16px;
}

.icon-header {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
}

.customer-card p {
  margin-top: 16px;
}

/* comment section */
.comment {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

.comment::before {
  content: url(../images/ball03.svg);
  position: absolute;
  top: 10%;
  left: 3%;
  z-index: -100;
}

.comment h1 {
  font-size: 32px;
}

.comment-cards {
  margin-top: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.comment-card {
  width: 352px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px var(--shadow-color);
  padding: 48px 32px 24px 32px;
  text-align: left;
  position: relative;
  background-color: var(--btn-text-color);
}

.comment-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 32px;
  transform: translateY(-60%);
}

.line {
  height: .3px;
  border: .3px solid var(--line-color);
  margin: 24px 0;
}

.user-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.company {
  font-weight: bold;
  margin-bottom: 8px;
}

.stars img {
  width: 16px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--line-color);
}

.active {
  background-color: var(--dot-color);
  width: 16px;
  border-radius: 10px;;
}

/* experience section */
.experience {
  text-align: center;
  width: 1366px;
  margin: 0 auto;
  height: 503px;
  background-image: url(../images/home_footer.svg); 
  background-repeat: no-repeat;
  position: relative;
}

.experience div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.experience h1 {
  font-size: 32px;
  margin-bottom: 48px;
}

.experience a {
  background-color: var(--main-color);
}

/* footer section */
footer {
  margin: 0 auto;
  max-width: 1366px;
  text-align: center;
  padding: 16px 0;
  background-color: var(--line-color);
}

footer p {
  font-weight: 300;
}


@media (max-width: 425px) {
  .container {
    padding: 0 20px;
  }

  .header {
    margin-top: 55px;
  }

  nav {
    padding: 16px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--btn-text-color);
    border-bottom: 2px solid var(--dot-color);
    z-index: 1000;
  }

  nav img {
    width: 130px;
  }

  .header::after {
    content: url(../images/bg_home_sm.svg);
    top: 45%;
    right: 7%;
    width: 334px;
  }

  .header::before {
    content: '';
  }

  .hero {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero div {
    width: 100%;
  }

  /* .platform::before {
    top: 0;
    left: 0;
    transform: scale(.2);
  } */

  .platform::before {
    content: '';
    background-image: url(../images/ball01.svg);
    background-size: 126px 126px;
    transform: translate(-55%, -37%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -100;
  }

  .platform h1 {
    font-size: 28px;
  }

  .socials {
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
  }

  .social img {
    width: 60px;
  }

  .social h2 {
    margin-top: 16px;
  }

  .service {
    padding-bottom: 20px;
  }

  .service::after {
    content:'';
    background-image: url(../images/ball02.svg);
    background-size: 120px 120px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: 0;
    transform: translate(40%, 46.5%);
    /* z-index: 100; */
  }

  .social p {
    margin-top: 16px;
  }

  .service h1 {
    font-size: 28px;
  }

  .service .service-content {
    font-size: 16px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
  }

  .customers {
    margin-top: 60px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 32px;
    padding-top: 10px;
  }

  .customers::after {
    content: '';
  }

  .customer-cards {
    flex-direction: column;
    text-align: left;
    padding-bottom: 10px;
  }

  .customer-card {
    width: 100%;
  }

  .comment {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .comment::before {
    /* z-index: 500; */
    transform: scale(.8);
    top: 3%;
    left: -10%;
  }

  .comment-cards {
    flex-direction: column;
    margin-top: 88px;
  }

  .comment-card {
    width: 100%;
  }

  .comment-cards .comment-card:nth-child(2) {
    display: none;
  }

  .comment-cards .comment-card:last-child {
    display: none;
  }

  .experience {
    margin-top: 60px;
    background-image: url(../images/footer_sm.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100%;
    height: 461px;
  }

  .experience div {
    width: 100%;
    top: 75%;
    left: 50%;
  }

  .experience h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}