@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

:root {
  --main-color: #56C4C5;
  --secondary-color: #FF5D50;
  --text-color: #221E1F;
  --text-color-gray: #747474;
  --btn-text-color: #FFFFFF;
  --shadow-color: #00000014;
  --line-color: #DDDDDD;
  --dot-color: #FFD153;
}

*, ::before ,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid #221E1F; */
}

html, body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

section {
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  max-width: 1128px;
  padding: 0 1.5%;
  margin: 0 auto;
}

.btn {
  padding: 8px 32px;
  color: var(--btn-text-color);
  border-radius: 22px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* header section */
.header {
  background-image: url(../images/bg_home.svg);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  top: 0; 
  right: 0;
  width: 100%;
  height: 768px;
  z-index: -10;
  position: relative;
  overflow: hidden;

  padding-top: 88px;
}

.header::before {
  content: '';
  background-image: url(../images/ball01.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  z-index: -10;
}

nav {
  width: 100%;
  padding: 24px 0;

  position: absolute;
  margin: 0 auto;
}

.nav-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 40px;
}

nav a {
  background-color: var(--secondary-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  padding: 20px;
  min-width: 360px;
}

.main-color {
  color: var(--main-color);
  font-size: 18px;
}

.hero-content h1{
  font-size: 48px;
  margin-top: 8px;
}

.hero-content p {
  font-size: 18px;
  margin-top: 16px;
}

.hero-img {
  flex: 1;
  padding: 20px;
  min-width: 360px;
}

/* platform secstion */
.platform {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 100px;
}

.platform::before {
  content: '';
  background-image: url(../images/ball01.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.social-platforms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 48px;
}

.platform-card {
  width: 345px;
  padding: 20px;
}

.platform-card img{
  width: 90px;
  height: auto;
  vertical-align: middle;
}

.platform-card h3 {
  font-size: 24px;
  margin-top: 24px;
}

.platform p {
  font-size: 16px;
  margin-top: 24px;
  color: var(--text-color-gray);
  padding: 0 33px;
}

/* service section */
.service {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.service::after {
  content: '';
  background-image: url(../images/ball02.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: -10;
}

.service-content {
  font-size: 20px;
  margin-top: 16px;
}

.service-cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.service-card {
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--shadow-color);
  background-color: var(--btn-text-color)
}

.service-card img {
  vertical-align: middle;
}

.service-main-color {
  color: var(--main-color);
  margin-top: 16px;
}

.service-card-text {
  padding: 16px 16px 24px 16px;
}

/* customer section */
.customer {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.customer::after {
  content: '';
  background-image: url(../images/ball02.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: -10;
}

.customer-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.customer-cards {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  min-width: 530px;
}

.customer-card {
  width: 230px;
  padding: 32px 32px 48px 32px;
  box-shadow: 0 2px 10px var(--shadow-color);
  border-radius: 10px;
}

.card-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  background-color: var(--btn-text-color);
  box-shadow: 0 2px 10px var(--shadow-color);
}

.customer-card img {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.customer-card h4 {
  margin-top: 24px;
}

.customer-card p {
  margin-top: 16px;
}

.customer-content {
  flex: 1;
  padding: 20px;
  min-width: 530px;
}

.customer-content p {
  margin-top: 16px;
}

.customer-content a {
  margin-top: 24px;
  background-color: var(--main-color);
}

/* comment section */
.comment {
  margin-top: 100px;
}

.comment h2 {
  text-align: center;
}

.comment-cards {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.comment-card {
  width: 345px;
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--shadow-color);
  padding: 48px 32px 24px 32px;
  position: relative;
}

.comment-card .user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  position: absolute;
  top: -50px;
  left: 32px;
}

.border-line {
  height: .1px;
  width: 100%;
  border: .1px solid var(--line-color);
  margin: 24px 0;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.company {
  font-weight: bold;
  margin-bottom: 8px;
}

.starts img {
  width: 18px;
  height: auto;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
}

.dot {
  margin-top: 24px;
  height: 10px;
  width: 10px;
  background-color: var(--line-color);
  border-radius: 50%;
}

.dot:last-child {
  width: 15px;
  border-radius: 5px;
  background-color: var(--dot-color);
}

/* experience section */
.experience {
  margin-top: 100px;
  text-align: center;
  background-image: url(../images/home_footer.svg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.experience h2 {
  padding-top: 300px;
}

.experience a {
  margin-top: 48px;
  background-color: var(--main-color);
}

/* fooer section */
.footer {
  text-align: center;
  padding: 16px 0;
  background-color: var(--line-color);
}

@media (max-width: 1200px) {
  .header {
    height: 700px;
  }
}

@media (max-width: 1090px) {
  /* 1090 comment section */
    .comment-cards .comment-card:last-child {
      display: none;
    }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 3%;
  }

  /* 1024 header section */

  .header {
    height: 600px;
  }

  .header::before {
    width: 200px;
    height: 200px;
    transform: translate(-60%, 50%);
  }

  .hero-content h1 {
    font-size: 32px
  }

  /* 1024 platfrom section */

  .platform::before {
    width: 200px;
    height: 200px;
    transform: translate(-60%, -50%);
  }

  .social-platforms {
    gap: 24px;
  }

  /* 1024 service section */
  .service-cards {
    gap: 24px;
  }

  /* 1024 customer section */
  .customer-inner {
    flex-direction: column-reverse;
  }

  .customer-content {
    text-align: center;
  }

  /* 1024 experience section */
    .experience {
    height: 400px;
    }

    .experience h2 {
      padding-top: 220px;
    }
}

@media (max-width: 850px) {
  /* 820 header section */
  .header {
    height: 510px;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 32px;
    border-radius: 22px;
  }

   /* 768 header section */
   .header {
    background-image: none;
    height: auto;
    padding-top: 0;
  }

  .header::before {
    background-image: none;
  }

  nav {
    background-color: var(--btn-text-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    border-bottom: 3px solid var(--dot-color);
    width: 100%;
    padding: 16px 20px;
  }

  nav img {
    height: 24px;
  }

  .hero {
    margin-top: 70px;
    flex-direction: column;
  }

  .hero-content {
    text-align: center;
    min-width: 100%;
    height: auto;
  }

  .hero-img {
    width: 70%;
    position: relative;
  }

  .hero-img::after {
    content: '';
    background-image: url(../images/bg_home_sm.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: -10;
  }
  /* 768 platform section */

  .platform::before {
    top: 75px;
    width: 150px;
    height: 150px;
  }

  /* 768 customer section */
  .customer-cards {
    min-width: 100%;
  }

  .customer-content {
    min-width: 100%;
  }

  /* 768 comment section */
  .comment {
    margin-top: 60px;
  }
  
  .comment-cards {
    margin-top: 88px;
  }
  
  .comment-card:nth-child(2) {
     display: none;
  }

  /* 769 experience sextion */
  .experience {
    height: 300px;
  }
  
  .experience h2 {
    padding-top: 160px;
  }

  .experience a {
    margin-top: 24px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 28px
  }

  h3 {
    font-size: 18px;
  }

  /* 425 header section */
  .hero-content {
    text-align: left;
  }
 

  /* 425 platform section */
  .platform {
    padding-top: 0;
    margin-top: 60px
  }

  .platform::before {
    width: 110px;
    height: 110px;
    top: 170px;
    left: 0;
    z-index: -10;
  }

  .platform-card img {
    width: 60px;
    height: auto;
  }

  /* 425 service section */
  .service {
    margin-top: 60px;
  }

  .service-content {
    font-size: 18px;
  }

  .service::after {
    width: 140px;
    height: 140px;
    bottom: 70px;
    right: 0;
    transform: translate(50%, 50%);
  }

  /* 425 customer section */
  .customer::after {
    background-image: none;
    width: 0;
    height: 0;
  }

  /* 425 experience section */
  .experience {
    background-image: url(../images/footer_sm.svg);
    height: 460px;
  }
  
  .experience h2 {
    font-size: 24px;
    padding-top: 320px;
  }
}

@media (max-width: 375px) {
  .btn {
    padding: 6px 24px;
  }

  .experience h2 {
    padding-top: 280px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 22px
  }

  .platform h3 {
    font-size: 20px; 
  }

  .btn {
    padding: 6px 18px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-img {
    min-width: 100%;
  }

  .experience {
    height: 380px;
  }

  .experience h2 {
    padding-top: 240px;
    font-size: 22px;
  }
}

/* 20220521修改 */
